@import "default-css.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";

  /*responsive rules*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #5337c8;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
}

/*base*/
.container {
  position: relative;
  height: 798px;
  width: 1440px;
}
.absolute {
  position: absolute;
}

.props {
  display: flex;
}

/*top*/
.crown {
  color: #fefcbf;
  border-radius: 0px;
  padding-bottom: 20px;
  font-size: 30px;
  top: 33px;
  left: 708px;
}

/*middle*/

/*first one*/
.first-person {
  font-size: 24px;
  top: 91px;
  left: 648px;
}

.first-person-check {
  top: 123px;
  left: 636px;
}

.first-person-stopwatch {
  top: 123px;
  left: 775px;
}

/*second one*/
.second-person {
  top: 128px;
  left: 457px;
  font-size: 20px;
}

.second-person-check {
  top: 155px;
  left: 438px;
}

.second-person-stopwatch {
  top: 155px;
  left: 548px;
}

/*third-one*/
.third-person {
  top: 158px;
  left: 862px;
  font-size: 20px;
}

.third-person-check {
  top: 185px;
  left: 845px;
}

.third-person-stopwatch {
  top: 185px;
  left: 960px;
}

/* banners*/
.first-position-banner {
  width: 194px;
  height: 166px;
  top: 165px;
  left: 633px;

  background: rgba(0, 0, 0, 0.6);
  clip-path: polygon(0 6%, 100% 0%, 70% 100%, 15% 100%);
}
.h1-number-one {
  top: 35px;
  left: 85px;
  font-size: 54px;
}

.second-position-banner {
  width: 282px;
  height: 137px;
  top: 194px;
  left: 419px;
  background: rgba(0, 0, 0, 0.4);
  clip-path: polygon(0 0, 84% 14%, 95% 100%, 65% 100%);
}

.h1-number-second {
  top: 25px;
  left: 155px;
  font-size: 54px;
}

.third-position-banner {
  width: 283px;
  height: 108px;
  top: 223px;
  left: 750px;

  background: rgba(0, 0, 0, 0.25);
  clip-path: polygon(10% 12%, 100% 0, 23% 100%, 0 100%);
}

.h1-number-third {
  top: 20px;
  left: 84px;
  font-size: 54px;
}

/*players section*/
.friends {
  top: 356px;
  left: 632px;
  font-size: 24px;
}

.players-h1 {
  top: 356px;
  left: 671px;
  font-size: 24px;
}

/*your place section */
.your-place {
  width: 446px;
  height: 179px;
  top: 405px;
  left: 511px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fefcbf;
}

.your-place-h2 {
  top: 12px;
  left: 154px;
  font-size: 20px;
}

.your-place-number {
  top: 46px;
  left: 154px;
  font-size: 87px;
}

.your-place-check {
  top: 148px;
  left: 134px;
  font-size: 18px;
}

.your-place-stopwatch {
  top: 148px;
  left: 230px;
  font-size: 18px;
}

img {
  width: 446px;
  height: 167px;
  top: 602px;
  left: 511px;
  border-radius: 20px;
}

@media screen and (max-width: 450px) {
  /* mobile */

  .container {
    width: 375px;
    height: 667px;
    top: 0;
  }

  /*top*/
  .crown {
    color: #fefcbf;
    padding-bottom: 20px;
    font-size: 30px;
    top: 27px;
    left: 170px;
  }

  /*middle*/

  /*first one*/
  .first-person {
    font-size: 14px;
    left: 135px;
    top: 73px;
  }

  .first-person-check {
    left: 179px;
    top: 90px;
    font-size: 12px;
    line-height: 108%;
  }

  .first-person-stopwatch {
    left: 175px;
    top: 104px;
    font-size: 12px;
    line-height: 108%;
  }

  /*second one*/
  .second-person {
    left: 30px;
    top: 100px;
    font-size: 14px;
  }

  .second-person-check {
    left: 67px;
    top: 115px;
    font-size: 12px;
    line-height: 108%;
  }

  .second-person-stopwatch {
    left: 67px;
    top: 129px;
    font-size: 12px;
    line-height: 108%;
  }

  /*third-one*/
  .third-person {
    left: 238px;
    top: 122px;
    font-size: 14px;
  }

  .third-person-check {
    left: 275px;
    top: 138px;
    font-size: 12px;
    line-height: 108%;
  }

  .third-person-stopwatch {
    left: 275px;
    top: 152px;
    font-size: 12px;
    line-height: 108%;
  }

  /* banners*/
  .first-position-banner {
    width: 96px;
    height: 142.5px;
    left: 141px;
    top: 121.5px;
    background: rgba(0, 0, 0, 0.6);
    clip-path: polygon(0 6%, 100% 0%, 70% 100%, 15% 100%);
  }
  .h1-number-one {
    left: 35px;
    top: 20px;
    font-size: 54px;
  }

  .second-position-banner {
    width: 137px;
    height: 117px;
    left: 37px;
    top: 147px;
    background: rgba(0, 0, 0, 0.4);
    clip-path: polygon(0 0, 84% 14%, 95% 100%, 65% 100%);
  }

  .h1-number-second {
    left: 65px;
    top: 17px;
    font-size: 54px;
  }

  .third-position-banner {
    width: 137px;
    height: 93px;
    left: 202px;
    top: 171px;
    background: rgba(0, 0, 0, 0.25);
    clip-path: polygon(10% 12%, 100% 0, 23% 100%, 0 100%);
  }

  .h1-number-third {
    left: 35px;
    top: 10px;
    font-size: 54px;
  }

  /*players section*/
  .friends {
    top: 282px;
    left: 115px;
    font-size: 18.75px;
  }

  .players-h1 {
    left: 149px;
    top: 282px;
    font-size: 16px;
  }

  /*your place section */
  .your-place {
    width: 302px;
    height: 154px;
    left: 37px;
    top: 325px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fefcbf;
  }

  .your-place-h2 {
    left: 103px;
    top: 18px;
    font-size: 18px;
  }

  .your-place-number {
    left: 120px;
    top: 50px;
    font-size: 54px;
  }

  .your-place-check {
    top: 116px;
    left: 64px;
    font-size: 16px;
  }

  .your-place-stopwatch {
    top: 116px;
    left: 180px;
    font-size: 16px;
  }

  img {
    width: 301px;
    height: 137px;
    left: 38px;
    top: 497px;
    border-radius: 20px;
  }
}
